.navbar-brand{
  font-weight: 600;
  font-style: italic;
}
/* .nav-link-Light{
  font-weight: 600;
  font-style: italic;
  color : rgb(67, 175, 63) !important;
  
} */

a.active{
  color : #fff !important;
}


